  <div class="navbar">
    <%= image_tag 'LFG.jpeg', alt:'#' %>
    <div class='nav-options'>
      <ul>
        <li><%= link_to 'About', '#' %></li>
        <li><%= link_to 'Experience', '#' %></li>
        <li><%= link_to 'Work', '#' %></li>
        <li><%= link_to 'Contact', '#' %></li>
        <li><%= link_to 'Resume', '#' %></li>
      </ul>
    </div>
  </div>

<div class='container'>
  <div class='greeting'>

    <div class='greeter'>
      <h1>Hi, my name is</h1>
    </div>

    <div class='name'>
      <h1>Luis Ghidelli.</h1>
    </div>

    <div class='role'>
      <h1>I'm a web dev.</h1>
    </div>
  </div>


  <h2 class='about-header'><span class='span-num'>01.</span> About me</h2>
  <div class='about-section'>

    <div class='inner'>
      <p>Hello! My name is Luis and I'm a trader turned web developer. After almost 4 years in the finance market, I couldn't help but see the huge impact technology had in all sectors across the economy. I decided it was time to make a change, so I quit my job and enrolled in a programming course in Brussels to learn how to code. 450h of hands-on experience later, I'm eager and ready to start my career as a developer.</p>
    </div>

    <div>
      <%= image_tag 'profile_pic.jpeg',alt:'#',class:'about-pic' %>
    </div>

  </div>


</div>
