<%= render "pages/nav_bar" %>

<div class='container'>
  <%= render "pages/hero" %>
  <h2 id='about-me' class='about-header'><span class='span-num'>01.</span> About me</h2>

  <div class='about-section container'>
    <%= render "pages/about_section" %>
  </div>

  <h2 id='my-experience' class='about-header'><span class='span-num'>02.</span> Where I've worked</h2>
  <%= render "pages/experience_section" %>

  <h2 id='my-works' class='about-header'><span class='span-num'>03.</span> Things I've built</h2>
  <%= render "pages/projects" %>
  <%= render "pages/footer" %>
</div>
