<!DOCTYPE html>
<html>
  <head>
    <title>Webpage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&family=Share+Tech+Mono&family=Space+Mono&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    <script>
      const list = document.querySelector('.text-2')
      const readMore = document.querySelectorAll('.read-more-btn')

      for (let i = 0; i < readMore.length; i++) {
        readMore[i].addEventListener('click', myFun);
      }

      function myFun(e) {
        list.classList.toggle('show-more')
      }


    </script>
  </body>
</html>
